/* Style for HTML and Body */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 30, 45, 1);
    color: rgba(255, 255, 255, 1);
    font-family: "Jost", sans-serif;
}

/* Style for buttonMainCenter */
#buttonMainCenter {
    border: 2px solid rgba(20, 40, 60, 0.5);
    border-radius: 25px;
    background-color: rgba(180, 120, 40, 1);
    color: rgba(15, 30, 45, 1);
    width: 250px;
    height: 50px;
    padding: 10px;
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

/* Hover state for buttonMainCenter */
#buttonMainCenter:hover {
    background-color: rgba(200, 140, 60, 1);
    border-color: rgba(10, 20, 30, 0.75);
}

/* Clicked state for buttonMainCenter */
#buttonMainCenter.clicked {
    background-color: rgba(240, 200, 180, 1);
    border-color: rgba(5, 10, 15, 1);
}

/* Hover state for clicked buttonMainCenter */
#buttonMainCenter.clicked:hover {
    background-color: rgba(200, 200, 200, 1);
    border-color: rgba(50, 50, 50, 1);
}